@page "/"

  <div class="container-fluid main-page">
    <div class="row">
        <div class="row col-md-2 col-xs-12 main-sidebar m-0 p-0" >
            <div class="col-md-12 main-sidebar-origin  m-0 p-0" style="background-color:red">
            <NavMenu></NavMenu> 
            </div>
        
        </div>

        <div class="col-md-10 main-body" >
            <div class="row main-body-search" style="background-color:cornflowerblue;">
                <EditForm Model="@ObjReception" OnSubmit="HandleSearch">
                    <div class="col-md-10" >
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class=" d-flex input-reception">
                                        <label class="reception-label">FirstName</label>
                                        <InputText class="form-control reception-input-class" @bind-Value="@FirstName" />
                                    </div>
                                    <div class=" d-flex input-reception">
                                        <label class="reception-label">LastName</label>
                                        <InputText class="form-control reception-input-class" @bind-Value="@LastName" />

                                    </div>
                                    <div class="d-flex input-reception">
                                        <label class="reception-label">BeneficiaryCode</label>
                                        <InputText class="form-control reception-input-class" @bind-Value="@BeneficiaryCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex input-reception">
                                    <label class="reception-label">Gender</label>

                                    <InputSelect class="form-select" aria-label="Default select example" @bind-Value="@Gender">
                                        <option selected>Choose</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </InputSelect>
                                </div>
                                <div class="form-group d-flex input-reception">
                                    <label class="reception-label">ReceptionDate</label>
                                    <InputDate class="form-control reception-input-class" @bind-Value="@ReceptionDate" />
                                </div>
                                <div class="form-group d-flex input-reception">
                                    <label class="reception-label">DocumentCode</label>
                                    <InputText class="form-control reception-input-class" @bind-Value="@DocumentCode" />
                                </div>
                            </div>
                        </div>
                    </div>

                </EditForm>

            </div>
            <div class="row main-body-patient-list" style="background-color:green;">
            </div>

        </div>
    </div>
    <div class="row main-page-footer bg-primary-subtle" style="background-color:yellow;">
       <ClinicFooter></ClinicFooter>

    </div>


</div> 

@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Age { get; set; }
    public int ServiceID { get; set; }
    public string BeneficiaryCode { get; set; }
    public string Quantity { get; set; }
    public bool Gender { get; set; }
    public string MobileNumber { get; set; }
    public string DocumentCode { get; set; }
    // public DateOnly ReceptionDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    public DateTime ReceptionDate { get; set; } = DateTime.Now;
    DataTable DTPatient = new DataTable();
    ClinicBusiness.ReceptionBusiness ObjReception = new ClinicBusiness.ReceptionBusiness();
    protected override void OnInitialized()
    {
        DTPatient = ObjReception.ListfullServices();

    }
    private void HandleSearch()
    {

        
        // JsRuntime.InvokeVoidAsync("ShowSwal", "success", "عملیات مورد نظر با موفقیت انجام شد");


    }

}
 










@* <div class="container-fluid"> *@


@*  <div class="row main-body">

                <div class="col-md-3">
                      <NavMenu />
                </div>
            <div class="col-md-9">
                <div class="row">
                <div class="col-md-12">
                     <div class="search-bar bg-black">
                         hiii
                     </div>
                     <div class="patient-list bg-info">
                         helooo
                     </div>


                </div>
            </div> *@
@* hi *@
@*  <article class="content px-4">
                    @Body
                </article>
                <div class="search-box">
                    Hello
                </div> *@
@*      </div>
         </div>  *@




@* </div> *@

@* </div> *@

@*  <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        </main>*@

@* </div> *@
@* <ClinicFooter />  *@
@* </div> *@
@* </div> *@



@* <PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
