@page "/freception/"
<EditForm Model="@ObjReception" OnValidSubmit="HandleUpsertNews">
    <div class="container-fluid main-page">
        <div class="row">
            <div class="row col-md-2 col-xs-12 main-sidebar p-0 m-0">
                <div class="col-md-12 main-sidebar-origin p-0 m-0" style="background-color:red">
                    <NavMenu></NavMenu>
                </div>

            </div>

            <div class="col-md-10 main-body" style="background-color:cornflowerblue; height:94vh;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <div class=" d-flex input-reception">
                            <label class="reception-label">FirstName</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@FirstName" />
                        </div>
                        <div class=" d-flex input-reception">
                            <label class="reception-label">LastName</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@LastName" />
                        </div>
                        <div class=" d-flex input-reception">
                            <label class="reception-label">Age</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@Age" />
                        </div>
                        <div class=" d-flex input-reception">
                            <label class="reception-label">BeneficiaryCode</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@BeneficiaryCode" />
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group d-flex input-reception">
                            <label class="reception-label">Sex</label>
                            @* <InputText class="form-control reception-input-class" @bind-Value="@FirstName" /> *@
                            <select class="form-select" aria-label="Default select example" >
                                <option selected>Open this select menu</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <div class="form-group d-flex input-reception">
                            <label class="reception-label">Mobile</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@FirstName" />
                        </div>
                        <div class="form-group d-flex input-reception">
                            <label class="reception-label">ReceptionID</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@FirstName" />
                        </div>
                        <div class="form-group d-flex input-reception">
                            <label class="reception-label">DocumentCode</label>
                            <InputText class="form-control reception-input-class" @bind-Value="@FirstName" />
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center  align-items-center">
                    <button type="submit" class="btn btn-primary bt-submit">Submit</button>
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="row main-page-footer bg-primary-subtle">

            <ClinicFooter></ClinicFooter>

        </div>


    </div>

    @* <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> *@
</EditForm>

@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Age { get; set; }
    public string BeneficiaryCode { get; set; }
    ClinicBusiness.ReceptionBusiness ObjReception = new ClinicBusiness.ReceptionBusiness();
    private void HandleUpsertNews()
    {
         ObjReception.InsertReception(FirstName, LastName, int.Parse(Age), BeneficiaryCode);
        
    }

}
