
<div class="container-fluid p-0">
    <div class="d-flex flex-column  px-3 text-white  main-left-sidebar">
        <div class="row">
            <a href="/" class="d-flex align-items-center my-3 text-decoration-none ps-3">
                <i class="far fa-hospital me-2 fa-2xl pe-2" style="color:white"></i>
                <span class="fs-5 text-white">Alberta Clinic</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column my-1 nav-main">
                
                <li>
                    <a href="/freception" class=@($"{IsActive("1")}") @onclick="@(() => SetActive("1"))">
                        <i class="fas fa-user-nurse me-1 fa-2x  pe-2 my-1"></i>
                        <span class="">Reception</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" class=@($" {IsActive("2")}") @onclick="@(() => SetActive("2"))">
                        <i class="fas fa-search me-1 fa-2x  pe-2 my-1"></i>
                        
                        <span class="">Search</span>
                    </a>
                </li>
                <li>
                    <a href="/test" class=@($" {IsActive("3")}") @onclick="@(() => SetActive("3"))">
                        <i class="fa-solid fa-calendar-days me-1 fa-2x  pe-2 my-1"></i>
                        <span class="">Reservation</span>
                    </a>
                </li>
                <li>
                    <a href="#" class=@($" {IsActive("4")}") @onclick="@(() => SetActive("4"))">
                        <i class="fa-solid fa-stethoscope me-1 fa-2x  pe-2 my-1"></i>
                        <span class="">Medicines</span>
                        
                    </a>

                </li>
                <li>
                    <a href="#" class=@($" {IsActive("5")}") @onclick="@(() => SetActive("5"))">
                        <i class="far fa-file me-1 fa-2x  pe-2 my-1"></i>
                        <span class="">Reports</span>
                    </a>
                </li>

                <li>
                    <a href="#" class=@($" {IsActive("6")}") @onclick="@(() => SetActive("6"))">
                        <i class="fa-solid fa-users me-1 fa-2x  pe-2 my-1"></i>
                        <span class="">Users</span>
                        
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



@code {
   [Parameter]
    public string activeItem { get; set; }
   // public string activeItem;

    public void SetActive(string item)
    {
        activeItem = item;
        StateHasChanged();
    }

    public string IsActive(string item) =>
        item == activeItem ? "nav-link navLinkActive text-white fa-2x my-1 ps-3 d-flex align-content-lg-center active-blue" : "nav-link navLinkActive text-white fa-2x my-1 ps-3 d-flex align-content-lg-center";
}
